<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <h1>URL Shortener</h1>
  <p>Convert Long URL into Short in one click</p>
  <div class="container">
    <form action="/shorten" method="POST">
      <label>Enter Your Original URL</label>
      <input type="text" name="originalUrl" placeholder="e.g https://example.com" required>
      <button id="btn" type="submit">Shorten</button>
      <a href="/logout">Logout</a>
    </form>
  </div>


  <!-- Check if shortUrl exists -->
  <% if (typeof shortUrl !=='undefined' ) { %>
    <table>
      <tr>
        <th>Shortened URL</th>
        <th>Clicks</th>
      </tr>
      <tr>
        <td><a href="<%= shortUrl %>"><%= shortUrl %></a></td>
        <td>
          <% if(typeof shortenCount !=='undefined') { %>
              <%= shortenCount %> times
        <%  } else { %>
          1 time
      <%  } %>
        </td>
      </tr>
    </table>

    <% } else { %>
        <p>No URL Available</p>
    <% } %>


</body>

</html>